[Unit]
Description=IPFS
StartLimitBurst=1
StartLimitIntervalSec=0
Requires=local-fs.target

[Service]
Environment="IPFS_PATH=/var/lib/ipfs/node"
ExecStart=/usr/bin/ipfs daemon --init --enable-gc
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
